nav {
  vertical-align: top;
  background-color: gray;
  border: thin solid red;

}

nav img {
  position: static;
  margin-top: 10px;
  margin-left: 50px;
  border: thin solid black;
  vertical-align: top;
}

nav ul {
  position: relative;
  text-align: center;
  padding: 0;
  width: 60%;
  padding: 20px;
  border: thin solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

nav li {
  display: inline-block;
  border: thin solid blue;
  width: 15%;
  
}

section {
  display: flexbox;
  flex-direction: column;
  flex: 200px;
  border: thin solid black;
}

article {
  background-color: antiquewhite;
}

div img {
float: left;
border: thin solid black;
}

div p {
  display: block;
  text-align: left;
  border: thin solid black;
}


footer {
  border: thin solid black;
  background-color: lightslategray;
}


